.country {
    margin: 20px;
    padding: 10px;
    background-color: rgb(207, 7, 44);
    color: white;
    border-radius: 10px;
}
.country img {
    width: 150px;
    border: 1px solid rgba(251, 251, 28, 0.442);
}
